<!-- What is Component | Angular 19 Tutorial | Part 2 -->

<!-- <div class="allign-center">
  <h1 class="allign-center">Hello World, Let's rock with Angular => v19</h1>

  <table>
    <tr>
      <td>
        <app-admin></app-admin>
      </td>
      <td><<==================>></td>
      <td>
        <app-user></app-user>
      </td>
    </tr>
  </table>
</div> -->


<!-- What is Data Binding in Angular | Angular 19 Tutorial | Part 3  -->
<!-- <app-data-binding></app-data-binding> -->


<!-- Angular 19 Tutorial | What is Structural Directive in Angular | *ngIf *ngFor | Part 4  -->
<!-- <app-ng-if></app-ng-if> -->
<!-- <app-ng-for></app-ng-for> -->

<!-- What is Attribute Directive in Angular | [ngClass] [ngStyle] | Angular 19 Tutorial | Part 5  -->
 <!-- <app-ng-class></app-ng-class> -->

 <!-- Control Flow Statement In Angular | if, else, for | Angular 19 Tutorial | Part 6  -->
<!-- <app-control-flow></app-control-flow> -->


<router-outlet></router-outlet>