<div class="row p-4">
    <div class="col-8">
        <div class="card">
            <div class="card-header bg-warning h3">
                Customer List
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead class="table-primary">
                        <tr>
                            <th class="text-center">SlNo</th>
                            <th>Name</th>
                            <th>Mobile</th>
                            <th>Email</th>
                            <th>City</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (item of customerList; track $index) {
                            <tr>
                                <td align="center" class="text-info fw-bold">{{$index + 1}}</td>
                                <td>{{item.customerName}}</td>
                                <td>{{item.mobileNo}}</td>
                                <td>{{item.email}}</td>
                                <td>{{item.customerCity}}</td>
                                <td>
                                    <button class="btn btn-primary me-2" (click)="getCustomerInfo(item)">Edit</button>
                                    <button class="btn btn-danger" (click)="deleteCustomer(item.customerId)">Delete</button>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
        
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-header bg-warning h3">
                @if (customerObj.customerId == 0) {
                    Add New Customer
                }
                @else{
                    Update Customer Info
                }
            </div>
            <div class="card-body">
                <form (ngSubmit)="saveCustomer()">
                    <div class="row">
                        <div class="col-6">
                            <label class="col-form-label fw-bold">Name</label>
                            <input class="form-control" type="text" [(ngModel)]="customerObj.customerName" name="customerName" />
                        </div>
                        <div class="col-6">
                            <label class="col-form-label fw-bold">Mobile No</label>
                            <input class="form-control" type="text" [(ngModel)]="customerObj.mobileNo" name="mobileNo" />
                        </div>
                        <div class="col-6">
                            <label class="col-form-label fw-bold">Email</label>
                            <input class="form-control" type="text" [(ngModel)]="customerObj.email" name="email" />
                        </div>
                        <div class="col-6">
                            <label class="col-form-label fw-bold">City</label>
                            <input class="form-control" type="text" [(ngModel)]="customerObj.customerCity" name="customerCity" />
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-12 text-center">
                            <button class="btn btn-secondary me-2" (click)="resetForm()">Reset</button>
                            @if (customerObj.customerId == 0) {
                                <button class="btn btn-success">Save</button>
                            }
                            @else{
                                <button class="btn btn-primary">Update</button>
                            }
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
