<div class="row p-4">
    <div class="col-3">
        hasValue=> {{userList.hasValue()}}
    </div>
    <div class="col-3">
        <ul>
            @for (item of userList.value(); track $index) {
                <li>
                    {{item.name}} => {{item.email}}
                </li>
            }
            
        </ul>
    </div>
    <div class="col-3">
        isLoading=> {{userList.isLoading()}}
        <br>
        <button class="btn btn-success" (click)="reloadData()">Reload Data</button>
    </div>
</div>